In [1]:
import pyodbc

#CRUD
#create: insert
#read (Retrieve): select
#update 
#delete (Destroy): delete

In [2]:
import mysql.connector
conexao = mysql.connector.connect(
    host='LopesDS',
    user='LopesDS',
    password='Ç9fgb34la7%@t01b&7ifj4la7#fdlb3&uh52$m',
    database='firstpyodbc',
)

cursor = conexao.cursor()

#Create

nome_produto = "salmão"
valor = 90.90
comando = f'insert into vendas (nome_produto, valor) values("{nome_produto}","{valor}")'
cursor.execute(comando)
conexao.commit()#confirma mudança no banco

In [3]:
import mysql.connector
conexao = mysql.connector.connect(
    host='LopesDS',
    user='LopesDS',
    password='Ç9fgb34la7%@t01b&7ifj4la7#fdlb3&uh52$m',
    database='firstpyodbc',
)

cursor = conexao.cursor()

#Read

comando = f'select * from vendas'
cursor.execute(comando)
resultado = cursor.fetchall()
print(resultado)

[(2, 'kopenhagen', Decimal('90')), (4, 'Miojo', Decimal('2')), (5, 'Kopenhagen', Decimal('99')), (6, 'Brunello', Decimal('500')), (7, 'CopaLombo', Decimal('50')), (8, 'Coca_cola600ml', Decimal('5')), (11, 'carpaccio', Decimal('76')), (12, 'salmão', Decimal('91'))]

In [5]:
import mysql.connector
conexao = mysql.connector.connect(
    host='LopesDS',
    user='LopesDS',
    password='Ç9fgb34la7%@t01b&7ifj4la7#fdlb3&uh52$m',
    database='firstpyodbc',
)

cursor = conexao.cursor()

#Update

nome_produto = 'carpaccio'
valor = 75.00
comando = f'update vendas set valor = {valor} where nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()

In [6]:
import mysql.connector
conexao = mysql.connector.connect(
    host='LopesDS',
    user='LopesDS',
    password='Ç9fgb34la7%@t01b&7ifj4la7#fdlb3&uh52$m',
    database='firstpyodbc',
)

cursor = conexao.cursor()

#Deleate

nome_produto = 'miojo'
comando = f'delete from vendas where nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()